<div class="center hero-unit">
  <h1>Welcome to Mini Legions</h1>

  <h2>
    We aim to become the number one resource<br /> for Miniature gamers, painters and collectors.
  </h2>
  <%= link_to 'Getting Started', getting_started_path, class: "btn-large btn-info" %>  &nbsp <%= link_to 'What is Mini Legions?', about_path, class: "btn-large btn-info" %>


</div>