<div class="center hero-unit">
  <h1>Welcome to Mini Legions</h1>

  <h2>
    We aim to become the number one resource<br /> for Miniature gamers, painters and collectors.
  </h2>
  <%= link_to 'Getting Started', getting_started_path, class: "btn-large btn-info" %>  &nbsp <%= link_to 'What is Mini Legions?', about_path, class: "btn-large btn-info" %>


</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>

<center><% splash_picfeed.each do |collection| %><div class="splash_picfeed"><%= link_to image_tag(collection.photo.url(:feed_thumb), :retina => true), collection %></div><% end %></center>