<% provide(:title, 'About Us') %>
<div class="row">
	<div class="span10 offset1">
		<img src="https://s3.amazonaws.com/minilegions/system/stock/silhouette_with_logo_780.jpg">
		<br /><br />
    	<h3>About Mini Legions</h3>
    	Mini Legions is a new online database of Wargaming Miniatures. Through collaboration we aim to catalogue the vast output of Miniature sculptors around the world since the 1970s and perhaps go further back into the realm of tin soldiers.<br /><br />

    	Mini Legions is a place where you can keep track of your own collection of Miniatures. You can upload pictures of all the miniatures you've painted and you can maintain a wantlist of those hard to find and out of production Miniatures that have eluded you.<br /><br />

    	For each and every Miniature in the database you can vote for the best painted example. The highest voted example for each Miniature or set is awarded a GOLD and the three runners up get a SILVER. Your Golds, Silvers and total votes received add up to your Painterscore. Just a little motivation for us painters.<br /><br />

    	You can post updates about your painting, gaming and converting and follow other users to see where their hobby is taking them. The more people you follow the more fun the site becomes.<br /><br />

    	We're starting small but we'll be adding Miniature manufacturers and product ranges regularly and building this database together. In the near future we plan to add lots of exciting features like the ability to group the Miniatures in your collection into Forces with pages to showcase them together with big group shots of your army or team. We plan to add a marketplace feature where users can buy and sell spare Miniatures from each other and pro painters can showcase and sell their finished models. We've got lots of ideas.<br /><br />


    	We want Mini Legions to become the number one resource for Miniature gamers, painters and collectors.<br /><br /><br /><br />

        <center><%= link_to 'Getting Started', getting_started_path, class: "btn-large btn-info" %></center>

	</div>
</div>
