<% provide(:title, 'Contact Us') %>


      
<div class="center hero-unit">
    <h1>Contact Us</h1>
<br />
  <h2>
  	You can follow <%= link_to 'MiniLegionsHQ', 'https://minilegions.com/users/minilegions' %> for site updates<br /><br />
    You can talk to us on twitter <%= link_to '@MiniLegions', 'https://twitter.com/MiniLegions' %><br /><br />
    You can get updates on<%= link_to "Facebook", 'https://www.facebook.com/pages/Mini-Legions/224093101064788' %><br /><br />
    You can email us at <%= mail_to "hq@minilegions.com" %>


  </h2>

</div>