 <% provide(:title, 'Help') %>  
   <h1>Help</h1>
    How...
    <ul>
    	<li><%= link_to "to add to your collection.", add_to_collection_path %></li>
    	<li><%= link_to "painter voting works.", how_to_vote_path %></li>
    </ul>