 <% provide(:title, 'Help | Add to collection') %>  
<div class="row">
	<div class="span10 offset1">
		<h1>How...</h1>
		<h1>painter voting works</h1>

		
		<div class="big_black">
			Go to any Miniature, for instance this here 
		</div>

		<img src="/system/stock/step_1.jpg" class="bordered_image">

		<div class="big_black">
			Browse or search for a miniature you own and click on it...
		</div>

		<img src="/system/stock/step_2.jpg" class="bordered_image">
		<div class="big_black">
		Click on "Add to collection or wantlist"...
		</div>
		<img src="/system/stock/step_3.jpg" class="bordered_image">
		<div class="big_black">
		If you've painted it you can mark it as "Painted"...
		</div>
		<img src="/system/stock/step_4.jpg" class="bordered_image">
		<div class="big_black">
		and upload a picture...
		</div>
		<img src="/system/stock/step_5.jpg" class="bordered_image">
		<div class="big_black">
		Job done!
		</div>
		<img src="/system/stock/step_6.jpg" class="bordered_image">

			<br /><br />
			<%= link_to "Help", help_path %> | <%= link_to "Getting Started", getting_started_path %>
	</div>
</div>