 <% provide(:title, 'Help | Add to collection') %>  
<div class="row">
	<div class="span10 offset1">
		<h1>How...</h1>
		<h1>...painter voting works</h1>

		
		<div class="big_black">
			Go to any Miniature, for instance this here High Elf Warrior...
		</div>

		<img src="https://s3.amazonaws.com/minilegions/system/stock/vote_step_1.jpg" class="bordered_image">

		<div class="big_black">
			Click on the "Cast your vote" button...
		</div>
		<img src="https://s3.amazonaws.com/minilegions/system/stock/vote_step_2.jpg" class="bordered_image">
		<div class="big_black">
		Choose the best painted Miniature. Sadly you can't vote for yourself.<br /><br />
		The painted example with the most votes is awarded a GOLD and get's pride of place as the main image on that Miniature's page.<br /><br />
		The three runners up also appear on the Miniature page and receive a SILVER.
		</div><br /><br />
		<h1>Painterscore</h1>
		<div align="center"><img src="https://s3.amazonaws.com/minilegions/system/stock/vote_step_3.jpg" class="bordered_image"></div><br /><br />
		<div class="big_black">
		Your "Painterscore" is currently calculated as follows.<br />
		GOLDS are worth 25 points.<br />
		SILVERS are worth 5 points.<br />
		Each vote is worth 1 point.<br /><br />

		We may change the calculation for Painterscore in the future.<br />
		If you've got an oppinion on how many points to give to GOLDS and SILVERS <%= link_to	"let us know", contact_path %>.
		</div>
		
			<br /><br />
			<%= link_to "Help", help_path %> | <%= link_to "Getting Started", getting_started_path %>
	</div>
</div>