<% provide(:title, 'Test') %>
    <h1>Test</h1>
    <p>
      This is a test page to try and ascertain why the hell rspec isn't passing this but is passing the old pages without even checking.
    </p>
  