<li>
  <%= link_to miniature.name, miniature %>
  <% if current_user.admin? %>
    | <%= link_to "delete", miniature, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>