<% @miniature.collections.where(status: 'Want').each do |collection| %>
        <tr>
  		<td><%= gravatar_for collection.user, size: 30 %></td>
  		<td><%= link_to collection.user.name, collection.user %></td></tr>
      <% end %>