<% provide(:title, 'Add set') %>
<%= javascript_include_tag 'jquery', 'application' %>
<h1>Add a set of miniatures</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@miniset) do |f| %>
          <%= render 'fields', f: f %>

      <%= f.submit "Add set", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>