<div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :comment, 'Submission notes (Required)', class: "control-label" %>
    <div class="controls">
    <%= f.text_area :comment, placeholder: 'Please briefly explain the update you are making.', :required => true %>
      </div>
     </div>
    </div>
 </div>