  <span class="postinfo"><%= link_to object, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: object.content do %>
   <i class="fa fa-trash-o"></i> Delete
  <% end %></span>