<h1 class="before_picfeed">Freshly painted miniatures</h1><br />

<script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>

<% picfeed.each do |collection| %>
		<div class="picfeed">
      		<%= link_to image_tag(collection.photo.url(:thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

      		<p><%= link_to collection.miniature.name, collection %> by <%= link_to collection.user.name, collection.user %></p>
      	</div><br />
<% end %>