$linkColor: #DB020D;

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  .subh1{
    color: $grayLight;
  }
  
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-size: 1.9em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: lighter;
  line-height: 0.8;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#redlogo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #DB020D;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 0.8;
  &:hover {
    color: #DB020D;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.homestats {
  overflow: auto;
  a {
    float: left;
    padding: 0 3px;
    border-left: 1px solid $grayLighter;
    font-size: smaller;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.sitestats {
  background-color: $grayLighter;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.gotwant {
  background-color: $grayLighter;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form-inline {
  margin-bottom: 15px;
  select {
    width: 32%;
  }
}



/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Miniatures index */

.miniatures {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 6px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.gotcircle {
  color: #02CC5A;
  font-size: 0.8em;
}
.wantcircle {
  color: #CC0249;
  font-size: 0.8em;
}

.circletext {
  color: white;
  font-size: small;
}

.indexsmall {
  font-size: smaller;
}
.table-semicondensed {
  th {
    padding: 6px;
  }
  td {
    padding: 6px;
  }
}

.indexnowrap {
  overflow: hidden;
  white-space: nowrap;
}

/* Miniatures show */

.minilabel {
  width: 150px;
  display:inline;
  float: left;
}

.photo1 {
  position: relative; 
  width: 100%; /* for IE 6 */
  p { 
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2px;
  width: auto;
  font-size: smaller;
  color: #FFF;
  margin: 0;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  a {
    color: #FFF;
  }
  }
  .medal {
  position:absolute;
  right: 2px;
  top: 2px;
  z-index: 1;
  opacity: 0.3;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.medal:hover {
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
 } 
}

.photos234 {
  list-style: none;
  li {
    float: left;
    padding: 0 0;
  }
}

.icons {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.curvedicon {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

}

#miniature_table  { 
  display: block;
  border: 0px;
  border-collapse: collapse;
   }
#miniature_table  td {
  display: inline-block;
  border: 0px;
  border-collapse: collapse;
   }

/* Minisets show */

.curvediconminiset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#contents_table  { display: block; }
#contents_table  td {display: inline-block; }

/* Image Vote */

#image_table  { display: block; }
#image_table  td {display: inline-block; }

/* Line show */

#sub-line {
  margin-left: 20px;
}



/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.postinfo {
  color: $grayLight;
  display: inline;
  a {
   color: $grayLight;
  }
}

#charCounterLabel{
  padding-left: 20px;
  color: $grayLight;
}

.timestamp{
  color: $grayLight;
  display: inline;
}

.gravatar {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px;
}

.user {
    display: inline;
  a {
    color: $black;
    font-weight: bold;
  } 

}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* miscellaneous */


.indexcontent {
  width: 60%;
  margin-left:20%;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* magnific-popup */


/* padding-bottom and top for image */
.mfp-no-margins .img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
  border: 0;
}

/* 

for zoom animation 

*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-out; 
  -moz-transition: all 0.2s ease-out; 
  -o-transition: all 0.2s ease-out; 
  transition: all 0.2s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#breadcrumbs {
  background-color: $grayLighter;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 30px;
}

