$linkColor: #DB020D;

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#floating_link {
     position: fixed;
     bottom: 0px;
     left: 0px;
     display: block;
     width: 115px;
     height: 30px;
     font-size: larger;
     padding-top: 10px;
     font-weight: bold;
     color: $white;
     background-color: #DB020D;
     text-align: center;
     box-shadow: 10px 10px 5px #888888;
     border-radius: 0 25px 0 0;
     overflow: hidden;
}

.picfeed {
  position: relative; 
  width: 100%; /* for IE 6 */
  margin-bottom: 15px;
  overflow-x: hidden;
  p { 
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  font-size: smaller;
  color: #FFF;
  width: 297px;
  margin: 0;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  a {
    color: #FFF;
    text-decoration:underline;
  }
  }
}

.tooltip_style {
  a { 
    color: $grayLight;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  .subh1{
    color: $grayLight;
  }
  
}


h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.clear {
    clear:both;
  }


/* header */

.pull-left {
  padding-right: 10px;
}

.navbar-inner {
   border-bottom: none;
   border-top: none;
}


#logo {
  float: left;
  font-size: 1.9em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: lighter;
  line-height: 0.8;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#redlogo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #DB020D;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 0.8;
  &:hover {
    color: #DB020D;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 2px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.stats2 {
  .count {
    display: inline-block;
    float: right;
  }
  a {
      font-weight: bold;
  }
  .collection {
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#02CC5A;
    width: 190px;
    a {
      color: #FFF;
    }
  }
  .item {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 190px;
    a {
      color: #000;
    }
  }
  .painterscore {
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $blue;
    width: 190px;
    font-weight: bold;
    color: #FFF;
    margin-top: 25px;
  }
  .updates {
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $grayLight;
    width: 190px;
    font-weight: bold;
    color: #FFF;
    margin-top: 25px;
  }
}

.sitestats {
  background-color: $grayLighter;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 10px;
  }
}

.large_gravatar {
    margin: 1px 1px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin-bottom: 10px;
}

.before_picfeed {
  margin-bottom: 5px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

select, .uneditable-input {
  padding: 4px;
}

input {
  height: auto !important;
}

.form-inline {
  margin-bottom: 15px;
  select {
    width: 32%;
  }
}

.float-right {
  float: right;
}

.float-left_spaced {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Miniatures index */

.miniatures {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 6px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.links_wrapper {
  text-align: center;
  padding-bottom: 20px;
}
.model_links {
  display:inline;
  font-size: larger;
  padding: 50px;
}


.gotcircle {
  color: #02CC5A;
  font-size: 0.8em;
}
.wantcircle {
  color: #CC0249;
  font-size: 0.8em;
}

.circletext {
  color: white;
  font-size: small;
}

.indexsmall {
  font-size: smaller;
}
.table-semicondensed {
  th {
    padding: 6px;
  }
  td {
    padding: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.indexnowrap {
  overflow: hidden;
  white-space: nowrap;
}

.index_option {
  display: inline;
  padding-left: 20px;
}

/* Collections */

.collection_count {
  display: inline;
  font-size: larger;
  float: right;
}

.bqstart {
  display: inline;
  font-size: 300%;
  color: #FF0000;
  float: left;
 }

 .bqend {
  display: inline;
  font-size: 300%;
  color: #FF0000;
  float: right;
 }

 .empty_collection {
  font-size: larger;
  text-align: center;
 }

.big_text {
  font-size: larger;
}

/* Miniatures show */

.minilabel {
  width: 150px;
  display:inline;
  float: left;
}

.vote_button {
  float: right;
  margin-right: 5px;
}

.photo1 {
  position: relative; 
  width: 100%; /* for IE 6 */
  p { 
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  font-size: smaller;
  color: #FFF;
  margin: 0;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  a {
    color: #FFF;
    text-decoration:underline;
  }
  }
 input[type="radio"] {
  position:absolute;
  display: inline;
  left: 5px;
  top: 5px;
  z-index: 1;
}
}



.photos234 {
  list-style: none;
li {
    float: left;
    padding: 0 0;
  }
}

.gotwant {
  background-color: $grayLighter;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px;
}

.icons {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.wants {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px;
  }
}

.right_side {
  float: right;
}

.curvedicon {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

}

#miniature_table  { 
  display: block;
  border: 0px;
  border-collapse: collapse;
   }
#miniature_table  td {
  display: inline-block;
  border: 0px;
  border-collapse: collapse;
   }

/* Minisets show */

.curvediconminiset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#contents_table  { display: block; }
#contents_table  td {display: inline-block; }

/* Image Vote */

#image_table  { display: block; }
#image_table  td {display: inline-block; }

.photovoted {
  position: relative; 
  width: 100%; /* for IE 6 */
  margin-top: 20px;
  p { 
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2px;
  font-size: larger;
  color: #FFF;
  margin: 0;
  background: rgb(219, 2, 13); /* fallback color */
  background: rgba(219, 2, 13, 0.5);
  width: 201px; /* for IE 6 */
  a {
    color: #FFF;
  }
  }
  }

  .votephotos {
  position: relative; 
  width: 100%; /* for IE 6 */
  p { 
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2px;
  font-size: smaller;
  color: #FFF;
  margin: 0;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  width: 201px; /* for IE 6 */
  a {
    color: #FFF;
  }
  }
 input[type="radio"] {
  position:absolute;
  display: inline;
  left: 5px;
  top: 5px;
  z-index: 1;
}
}


/* Line show */

#sub-line {
  margin-left: 20px;
  white-space: nowrap;
}



/* microposts */

.microposts {
  margin: 10px 0 0 0;

  tr {
    border-top: 1px solid #e8e8e8;
  }
  td {
    padding: 8px 10px 2px 0;
    vertical-align: top;
  }
}
.content {
  display: block;
}
.postinfo {
  color: $grayLight;
  display: inline;
  font-size: smaller;
  a {
   color: $grayLight;
  }
}

.username {
  color: $grayLight;
  display: inline;
  a {
   color: $grayLight;
  }
}

#charCounterLabel{
  padding-left: 20px;
  color: $grayLight;
}

.timestamp{
  color: $grayLight;
  display: inline;
  font-size: smaller;
}

.gravatar {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px;
}

.user {
    display: inline;
  a {
    color: $black;
    font-weight: bold;
  } 

}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* Getting Started */

.display {
  background-image:url('https://s3.amazonaws.com/minilegions/system/stock/display.jpg');
  height: 249px;
  padding: 20px;
  margin-bottom: 20px;
  p {
    color: $white;
    text-align: center;
    font-size: x-large;
    padding: 20px;
  }
  h1 {
    color: $white;
    margin-bottom: 10px;
  }
  .btn {
    margin: 20px;
  }
}

.big_black {
  text-align: center;
  font-size: x-large;
  line-height: 200%;
  margin-bottom: 20px;
}

.bordered_image {
  border: 2px solid $black;
}

.button_wrapper {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* Feedback */

.feedback_links {
  list-style: none;
  text-align: right;
  margin: 0;
  li {
    display: inline;
    margin-left: 20px;
  }
}

/* miscellaneous */

.help_text {
  list-style: none;
  font-size: 1.2em;
  line-height: 150%;
  li {
    margin-bottom: 10px;
  }
}

.indexcontent {
  width: 60%;
  margin-left:20%;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.adminlevel {
  display: inline;
  float: right;
  margin-right: 20px;
  color: #DB020D;
}

.username {
  color: $grayLight;
  display: inline;
  a {
    color: $grayLight;
  } 
}

/* papertrail */

.old_version {
  font-style: italic;
  text-decoration:line-through;
  color: #DB020D;
  padding: 4px;
}


.no-style {
  border: 0;
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}
.submission_notes {
  font-style: italic;
}

.no_submission_notes {
  color: $grayLight;
}

/* magnific-popup */


/* padding-bottom and top for image */
.mfp-no-margins .img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;

}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
  border: 0;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/* 

for zoom animation 

*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-out; 
  -moz-transition: all 0.2s ease-out; 
  -o-transition: all 0.2s ease-out; 
  transition: all 0.2s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#breadcrumbs {
  background-color: $grayLighter;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 30px;
}
