<% provide(:title, 'Vote on') %>
<div class="row">
  <div class="span14">

<% @miniature.each do |miniature| %>
<%= miniature.name %>
   
  <% end %>

<i class="fa fa-hand-o-up"></i> Click an image to see it full size.<br> Click on a medal to cast your vote for the best painted miniature. You can change your vote any time.<br><br>
  


  </div>
</div>
