<li>
  <%= link_to manufacturer.name, manufacturer %> (<%= manufacturer.miniatures.count %> miniatures) <% if current_user.try(:admin?) %>
  <%= link_to "delete", manufacturer, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>