<% provide(:title, 'All Manufacturers') %>
<h1>All Manufacturers</h1>

<%= will_paginate %>

<ul class="users">
 <%= render @manufacturers %>
</ul>

<%= will_paginate %>

<% if current_user.try(:admin?) %>
  <%= link_to 'New manufacturer', new_manufacturer_path %>
  <% end %>

